.post_list {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 60px;
    justify-content: center;
    margin-bottom: 3%;
  }
  .post {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

.coir_image{
    height: 260px;
}
.coir_card{
    max-width:600px;
}

.main_content{
    // margin-top: 70px
}

.main_botton_content{
  margin: 160px;
  margin-top:0;
  margin-bottom: 0px;
  text-align: justify;
}

.MuiTypography-body1{
  margin: 70px !important;
  color: #777;
}

.MuiTypography-h5{
  color: #777;
}

.MuiAvatar-root, .MuiButton-root{
   background: #17781c !important;
}
  
  