* {
    font-family: 'Grandslang roman', sans-serif;
  }

a{
    text-decoration: none;
    color: blue;
}

.MuiCardMedia-root .MuiCardMedia-media .MuiCardMedia-img{
    height: 250px;
}

body .MuiButton-root {
    font-family: 'Montserrat', sans-serif;
  }