* {
    // font-family: "MuseoSansRegular", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
  }
  .header-name{
    width: 100%;
    font-weight: 500;
  }
  .header_menu {
    &:hover {
        transform: translateY(-10px);
    }
  }

  .MuiTypography-root-MuiLink-root{
    text-decoration: none;
  }
  
  .header {
    background-image: linear-gradient(102deg,#ffffff 0%,#c8f8b2 74%);
    height: 80px;
    position: sticky;
    top: 0px;
    color: #17781c;
    padding: 1% 1.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    width: 100%;
    letter-spacing: 1px;
  }
  .logo_link {
    display: contents;
    cursor: pointer;
  }
  .logo_img {
    height: 65px;
    width: 70px;
  }
  
  .header_navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end
  }
  
  .header_items {
    display: flex;
    list-style: none;
    justify-content: center;
    text-decoration: none;
    margin-left: 25px;
  }

  .header_link {
    margin: auto;
  }
  .navigator-txt {
    font-size: 13.5px;
    font-weight: 100;
  }
  
  .header_item {
    display: flex;
    padding: 6px 4px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .nav_items-right,
  .nav_items-right:nth-child(1) {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  
  .dropdown-btn {
    display: flex;
    color: #777;
    align-items: center;
    text-align: center;
    text-decoration: none;
  }
  
  .btn-contained {
    background: #2189d1;
    color: rgb(255, 248, 248);
    min-width: 100px;
    border-radius: 5px !important;
    padding: 6px 5.5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    font-size: 14px;
  }
  
  .btn-contained:hover {
    background: #82bfeb;
  }
  
  .login-btn {
    text-decoration: none;
    font-size: 14px;
    color: #777;
  }
  .login-btn:hover {
    color: #2189d1;
  }
  